<!-- Name: sliderIngridix  -->

<!-- Start WOWSlider.com BODY section -->
<style>
	.ws_lista{
		z-index: 99;
		color: black;
		position: absolute;
		right: 10%;
		top: 7%;
		width: 25%;

		font-family: sans-serif;
	}

	.ws_pedido{

		color: #ffffff;
		margin-top: 20px;
		width: 100%;
		background-color: #56A235;
		font-family: sans-serif;
		border-radius: 40px;
		font-size: 25px;
		text-align: center;
		padding: 10px;
	}

	.ws_pedido a{
		color: #FFFFFF;
	}

	.ws_pedido a:hover{
		color: #FFFFFF;
	}

	.ws_lista_header{
		position: relative;
		margin: 0;
		padding: 10px 5px 5px 10px;
		color: #ffffff;
		font-size: 20px;
		background: #5a5a5a;
		word-spacing: 6px;

	}

	.um{
		background-color: #4D804F;
	}

	.dois{
		background-color: #619957;
	}

	.tres{
		background-color: #F0BE60;
	}

	.quatro{
		background-color: #F5A761;
	}

	.cinco{
		background-color: #A84966;
	}

	.seis{
		background-color: #824676;
	}

	.sete{
		background-color: #245998;
	}

	.oito{
		background-color: #6BB7DE;
	}

	.ws_lista ul{
		margin: 0;
		padding: 15px;
		height: 320px;
		background: rgba(255, 255, 255, 0.88);
	}
	.ws_lista ul li{
		width: 100%;
		list-style: none;
		font-size: 18px;
		padding: 3px;
		color: #828282;
		font-weight: 600;
		display: inline-flex;
	}

	.ws_lista li .bola{
		width: 20px;
		height: 20px;
		border-radius: 20px;
		margin-right: 13px;
		margin-top: 3px;
	}
</style>



<div id="wowslider-container1">

	<div class="ws_lista">
		<div class="ws_lista_header">SEU MICROBIOMA INFLUENCIA</div>

		<ul>
			<li><div class="bola um"></div>Obesidade</li>
			<li><div class="bola dois"></div>Diabetes Tipo 2</li>
			<li><div class="bola tres"></div>Refluxo e Gastrite</li>
			<li><div class="bola quatro"></div>Colesterol</li>
			<li><div class="bola cinco"></div>Ansiedade e depressão</li>
			<li><div class="bola seis"></div>Artrite</li>
			<li><div class="bola sete"></div>Doenças auto-imunes</li>
			<li><div class="bola oito"></div>e outras doenças</li>
		</ul>

		<div class="ws_pedido">
			<a href="http://ingridix.com.br/homologacao/faca-seu-pedido/" target="_blank" class="">
				FAÇA SEU PEDIDO
			</a>
		</div>
	</div>



	<div class="ws_images"><ul>
		<li><img src="%URL%images/slider1.jpg" alt="Você sabe como seu microbioma influencia fortemente sua saúde? " title="Você sabe como seu microbioma influencia fortemente sua saúde? " id="wows1_0"/></li>
		<li><img src="%URL%images/slider-2.jpg" alt="slideshow wordpress" title="Cultive seu microbioma e colha saúde e bem estar" id="wows1_1"/></a></li>
		<li><img src="%URL%images/slider3edit2.jpg" alt="Saúde e bem estar de dentro para fora" title="Saúde e bem estar de dentro para fora" id="wows1_2"/></li>
	</ul>
	</div>
	<div class="ws_bullets"><div>
		<a href="#" title="Você sabe como seu microbioma influencia fortemente sua saúde? "><span><img src="%URL%tooltips/slider1.jpg" alt="Você sabia como seu microbioma influencia fortemente sua saúde? "/>1</span></a>
		<a href="#" title="Cultive seu microbioma e colha saúde e bem estar"><span><img src="%URL%tooltips/slider2edit.jpg" alt="Cultive seu microbioma e colha saúde e bem estar"/>2</span></a>
		<a href="#" title="Saúde e bem estar de dentro para fora"><span><img src="%URL%tooltips/slider3edit.jpg" alt="Saúde e bem estar de dentro para fora"/>3</span></a>
	</div>
	</div>
	<div class="ws_script" style="position:absolute;left:-99%"></div>
	<div class="ws_shadow"></div>

</div>
<!-- End WOWSlider.com BODY section -->
